// ---------- PASSPORT ANIMATION ----------

#passport {
  pointer-events: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 0;
  visibility: hidden;
}

.passport-flex {
  width: auto;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.passport-holder {
  height: 75%;
  width: 100%;
}

.passport-animation {
  position: relative;
  height: 100%;
  width: 100%;
}

// ---------------------------------------
// ---------- MEDIA QUERY 768px ----------
// ---------------------------------------

@media only screen and (min-width: 768px) {

  .passport-flex {
    min-width: 32em;
  }

}

// ---------------------------------------
// ---------- MEDIA QUERY 1020px ---------
// ---------------------------------------

@media only screen and (min-width: 1020px) {


}
