section.hero {
  background: url("../img/hero-artifacts.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 35vh;
}

.map {
  background-color: #e6e7e8;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-flex {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-holder {
  width: 100%;
  height: 100%;
}

.map-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
}

.map-animation svg {
  max-height: 60vh;
}

.text-map {
  display: none;
}

.text-passport {
  display: none;
}

.hold-text {
  display: block;
}

.active {
  display: block;
}

.text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.text-section {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.fisherman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.fisherman img {
  width: 100%;
  max-width: 30rem;
}

#passport {
  height: 75vh;
}

.passport-flex {
  width: auto;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.passport-holder {
  height: 100%;
  width: 100%;
}

.passport-animation {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
}

.gallery-section .project-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-section .image {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
}

.market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6e7e8;
  height: 100vh;
  padding-bottom: 1em;
  padding-top: 1em;
}

.market-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.market-flex {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.market-holder {
  height: 50%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.market-holder-01 {
  height: 23%;
}

.market-holder-02 {
  height: 23%;
}

.market-animation {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .map-animation svg {
    max-width: 75vh;
  }
  .wrapper {
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
  .passport-flex {
    min-width: 32em;
  }
  section.hero {
    height: 50vh;
  }
  .market {
    padding-bottom: 0;
    padding-top: 0;
  }
  .market-content {
    height: auto;
  }
  .market-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .market-holder {
    height: auto;
    width: 32%;
  }
  .gallery-section .image {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
}

@media only screen and (min-width: 1020px) {
  .map-animation svg {
    max-width: none;
    max-height: none;
  }
  .text-title {
    height: auto;
    padding-bottom: 1em;
  }
  .text-section {
    padding-left: 3em;
    height: auto;
  }
  .map-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=artifacts.css.map */