// ---------- HERO IMAGE ----------

.hero {
  background: url("../img/hero-artifacts.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 35vh;
}

// ---------- MAP ANIMATION ----------

.map {
  background-color: #e6e7e8;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.map-flex {
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.map-holder {
  width: 100%;
  height: 100%;
}

.map-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  svg {
    max-height: 60vh;
  }
}

.text-map {
  display: none;
  opacity: 1;
}

.text-passport {
  display: none;
}

.hold-text {
  display: block;
}

.active {
  display: block;
}

.text-exit {
  display: block;
}

.text-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.text-section {
  height: 30vh;
  display: flex;
  flex-flow: column;
}

// ---------- FISHERMAN COMMENTS ----------

.fisherman {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    width: 100%;
    max-width: 30rem;
  }
}

// ---------- PASSPORT ANIMATION ----------

#passport {
  height: 75vh;
}

.passport-flex {
  width: auto;
  height: 75vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.passport-holder {
  height: 100%;
  width: 100%;
}

.passport-animation {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
}

// ---------- DRAWINGS GALLERY ----------

.gallery-section .project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-section .image {
  flex: 50%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
}

// ---------- MARKET ANIMATION ----------

.market {
  display: flex;
  background-color: #e6e7e8;
  height: 100vh;
  padding-bottom: 1em;
  padding-top: 1em;
}

.market-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.market-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.market-holder {
  height: 50%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.market-holder-01 {
  height: 23%;
}

.market-holder-02 {
  height: 23%;
}

.market-animation {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto;
}

// ---------------------------------------
// ---------- MEDIA QUERY 768px ----------
// ---------------------------------------

@media only screen and (min-width: 768px) {
  .map-animation {
    svg {
      max-width: 75vh;
    }
  }

  .wrapper {
    grid-template-rows: none;
  }

  .passport-flex {
    min-width: 32em;
  }

  // ---------- HERO IMAGE ----------

  .hero {
    height: 50vh;
  }

  // ---------- MARKET ANIMATION ----------
  .market {
    padding-bottom: 0;
    padding-top: 0;
  }

  .market-content {
    height: auto;
  }
  .market-flex {
    flex-flow: row;
  }

  .market-holder {
    height: auto;
    width: 32%;
  }

  // ---------- DRAWINGS GALLERY ----------

  .gallery-section .image {
    flex: 25%;
  }
}

// ---------------------------------------
// ---------- MEDIA QUERY 1020px ---------
// ---------------------------------------

@media only screen and (min-width: 1020px) {
  .map-animation {
    svg {
      max-width: none;
      max-height: none;
    }
  }

  // ---------- MAP ANIMATION ----------

  .text-title {
    height: auto;
    padding-bottom: 1em;
  }

  .text-section {
    padding-left: 3em;
    height: auto;
  }

  .map-flex {
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
}
