section.hero {
  background: url("../img/hero-artifacts.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 50vh;
}

.wrapper {
  margin: auto;
  display: inline;

  section {
    padding: em;
  }
  
  h1 {
    color: black;
    font-weight: 300;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }

  .project-description {
    text-align: center;
    list-style: none;
    padding-bottom: 1em;
    h3 {
      font-size: 1rem;
    }
  }
}

section#holder {
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.map{
  display: flex;
  flex-flow: column;
}

.text-passport {
  display: none;
}

.hold-text {
  display: block;
}

.active {
  display: block;
}

svg {
  width: 100%;
  height: auto;
}

.animation {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 50vh;
}

div.text-title {
  height: 20vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

div.text-section {
  height: 30vh;
  display: flex;
  flex-flow: column;
}

.market {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.market-title {
  order: -2;
  text-align: center;
}

$frame-count: 15;
$offset-val: 160;
$offset-val2: 320;

.viewer {
  height: 100%;
  max-width: 320px;
  width: 100%;
  background-image: url(../img/market.png);
  background-size: 5120px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  flex-basis: 320px;
  border: solid 0.15em white;
}

.detail-01 {
  flex: 1;
  background-image: url(../img/marketClose01.png);
}
.detail-02 {
  order: -1;
  flex: 1;
  background-image: url(../img/marketClose02.png);
}

@for $i from 1 through $frame-count {
  .viewer.frame#{$i} {
    background-position: -(($i * $offset-val) * 2) + px 50%;
  }
}

@media only screen and (min-width: 768px) {
  
  .market {
    flex-flow: row;
  }

  .animation {
    height: auto;
  }

  .map {
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  div.text-title {
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 1em;
  }
  div.text-section{
    padding-left: 3em;
    height: auto;
    max-width: 30em;
  }
}

@media only screen and (min-width: 1020px) {
  .wrapper {
    grid-template-rows: none;
  }

  svg {
    max-width: 30em;
  }
}
@media only screen and (min-width: 1800px) {

  .viewer {
    max-width: 640px;
    background-size: 10240px;
    flex-basis: 640px;
    border: solid 0.25em white;
  }

  svg {
    width: auto;
    height: 100%;
    max-width: 60em;
  }

  @for $i from 1 through $frame-count {
    .viewer.frame#{$i} {
      background-position: -(($i * $offset-val2) * 2) + px 50%;
    }
  }
}
