@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
    hyphens: none;
  }
  .Footer-blocks--bottom {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }

  /* control galleries for mobile
   ------------------------------------------------*/
  .sqs-gallery-design-grid-slide {
    width: 100% !important;
  }
}

@media screen and (min-width: 640px) and (max-width: 960px) {
  h1 {
    font-size: 2rem;
    hyphens: none;
  }

  .Index-page--has-image .Index-page-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .Index-page--has-image .Index-page-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 960px) {
  #block-yui_3_17_2_1_1559161345877_58569 .sqs-gallery-design-grid-slide {
    width: 50% !important;
  }
  #block-yui_3_17_2_1_1559168665179_19876 .sqs-gallery-design-grid-slide {
    width: 50% !important;
  }
}

/* line under links decoration
   ------------------------------------------------*/
.Index-page--has-image h1 a {
  text-decoration: underline;
  border-bottom: none;
}

.sqs-block-html p a {
  text-decoration: underline;
  border-bottom: none;
}

.sqs-block-html h3 a {
  text-decoration: underline;
  border-bottom: none;
}

/* Hide extra footers
   ------------------------------------------------*/
.Footer-blocks--top {
  display: none;
}
.Footer-blocks--middle {
  display: none;
}
.Footer-inner {
  padding-top: 0px;
}

/* GALLERY GRID
   ------------------------------------------------*/

.sqs-gallery-block-grid .slide .margin-wrapper .image-slide-title {
  display: none;
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  white-space: normal;
  top: 80%;
  width: 80%;
  pointer-events: none;
  hyphens: none;
}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor {
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
}

.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor:hover {
  opacity: 0.3;
}

.slide .margin-wrapper:hover .image-slide-title {
  display: inline-block;
}

/* image to display after hover with assigned class
   ------------------------------------------------*/

img.himage {
  position: absolute;
  height: auto;
  width: 400px;
  display: none;
}

.inline {
  display: inline;
}

.inline:hover img {
  display: inline;
}

#block-yui_3_17_2_1_1559315672080_12015 {
  max-width: 320px !important;
  margin: 0 auto;
}

#block-yui_3_17_2_1_1559335754279_14289 {
  max-width: 320px !important;
  margin: 0 auto;
}

#block-yui_3_17_2_1_1559616738910_128604 {
  max-width: 480px !important;
  margin: 0 auto;
}

#block-yui_3_17_2_1_1559665867055_71945 {
  max-width: 640px !important;
  margin: 0 auto;
}
